[submodule "aws-lc-sys/aws-lc"]
	path = aws-lc-sys/aws-lc
	url = https://github.com/aws/aws-lc.git
	branch = xaes-256-gcm
[submodule "aws-lc-fips-sys/aws-lc"]
	path = aws-lc-fips-sys/aws-lc
	url = https://github.com/aws/aws-lc.git
	branch = xaes-256-gcm
