[workspace]
members = [
    "aws-lc-rs",
    "aws-lc-sys",
    "aws-lc-fips-sys",
    "aws-lc-rs-testing",
    "links-testing"
]
resolver = "2"

[profile.bench]
lto = true

[profile.release-lto]
inherits = "release"
lto = true
