[build]
dockerfile = "./docker/linux-cross/Dockerfile"

[build.env]
passthrough = [
    "AWS_LC_SYS_NO_PREFIX", "AWS_LC_FIPS_SYS_NO_PREFIX",
    "AWS_LC_SYS_INTERNAL_BINDGEN", "AWS_LC_FIPS_SYS_INTERNAL_BINDGEN",
    "AWS_LC_SYS_STATIC", "AWS_LC_FIPS_SYS_STATIC",
    "AWS_LC_SYS_CMAKE_BUILDER", "AWS_LC_SYS_CC_SRC_COLLECTOR",
    "GOPROXY",
]
